/* https://github.com/pydata/pydata-sphinx-theme/issues/1288 */
a.my-external-link:after {
    content: var(--pst-icon-external-link);
    font: var(--fa-font-solid);
    font-size: 0.9em;
    margin-left: 0.3em;
    margin-right: 0.15em;
}

/* remove the "Ctrl+K" shortcut icon from search bar */
span.search-button__kbd-shortcut {
    display: none
}

/* Since the theme switcher is in persistent navbar, margins has to be modified */
.navbar-persistent--mobile {
    margin-left: 2%;
}
